/*******************/
/* buttons styling */
/*******************/

#buttonContainer {
  padding: 0px 0px 10px 0px;
}

#buttonContainer p b{
  margin: 0px 5px 0px 5px;
}

#buttonContainer #influential {
  margin-right: 5px;
}

/********/
/* plot */
/********/

svg circle {
  stroke-width: 2px;
  fill: transparent;
  cursor: pointer;
}

svg circle:active {
  stroke: #45D3C7;
}

.axis path {
  display: none;
}

.axis line {
  shape-rendering: crispEdges;
  stroke: #000;
}
